<h2>Список постов</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Новый пост</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Описание: {{descricao}}</p>
            <small>Дата: {{data}}</small><br>
            <small>Категория: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Редактировать пост</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Удалить пост</button></a>
        </div>
        
    </div>
{{else}}
    <p>Нет зарегистрированных постов</p>
{{/each}}