<h2>Список постов</h2>
<hr>
<a href="/admin/posts/add"><button class="btn btn-success">Новый пост</button></a>

{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{_doc.title}}</h4>
            <p>Описание: {{_doc.descricao}}</p>
            <small>Дата: {{_doc.data}}</small><br>
            <small>Категория: {{_doc.category.name}}</small><br>
            <a href="/admin/posts/edit/{{_doc._id}}"><button class="btn btn-success mt-3">Редактировать пост</button></a>
            <a href="/admin/posts/deletar/{{_doc._id}}"><button class="btn btn-danger mt-3">Удалить пост</button></a>
        </div>
    </div>
{{else}}
    <p>Нет зарегистрированных постов</p>
{{/each}}