<div class="jumbotron">
  <h1 class="display-4">Добро пожаловать в Блог на ноде</h1>
 <hr class="my-4">
  <p>
      Он использует служебные классы для типографики и интервалов для размещения содержимого внутри самого большого контейнера..</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Завести аккаунт</a>
</div>

<hr>
<h2>Недавние посты:</h2>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        
        
        <h3>{{_doc.title}}</h3>
        <p>{{_doc.description}}</p>
        <a href="/post/{{_doc.slug}}"><button class="btn btn-success">Читать далее</button></a>
        <hr>
        <small>Категория: {{_doc.category.name}}</small>
        <small>Дата публикации поста: {{_doc.data}}</small>
        
    </div>

</div>
{{else}}
    <h5>Нет сообщений</h5>
{{/each}}